.final-section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.final-heading {
    color: rgb(15, 15, 97);
    font-size: 28px;
    font-weight: 700;
}
.final-section .final-description{
    width: 80%;
    text-align: center;
}

@media(max-width: 780px) {

    .final-section{
        position: absolute;
        background-color: white;
        top: -40px;
        width: 80%;
        padding: 30px;
        left: 60px;
        border-radius: 20px;
        max-height: 500px;
    }
}
